body {
  display: grid;
  place-items: center;
}
main {
  background: linear-gradient(to bottom, #1f0018, #ad1289);
  width: 40rem;
  border-radius: 0.5rem;
  padding: 2rem;
}

.header {
  text-align: center;
  color: #fff;
}

.header h1 {
  color: #f0ba08;
  text-transform: uppercase;
}

.form {
  width: 36rem;
  background: linear-gradient(to bottom, #ad1289, #1f0018);
  border-radius: 0.5rem;
  padding: 0.8rem 2rem 1rem 2rem;
  margin: auto;
}

.form-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.form-input h2 {
  font-size: 1.4rem;
  color: #fff;
}

.form-input input {
  width: 30rem;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
}

.form-card {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #4284e7, #6fa4f5);
  border: 0.5rem solid #0a50b9;
  border-radius: 0.5rem;
}

.card h3 {
  color: #fff;
}

.card button {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  background-color: #200202;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
}
